<!DOCTYPE html>
<html>

  {% include head.html %}
  <body>

    {% include header.html %}

    <div id="main"  class="container main">
      {{ content }}
    </div>

    
    <div id="top" data-toggle="tooltip" data-placement="left" title="back to top">
      <a href="javascript:;">
        <div class="arrow"></div>
        <div class="stick"></div>
      </a>
    </div>

    {% include footer.html %}

    {% include newpost.html %}
  
  </body>

  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-131288685-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-131288685-1');
</script>

</html>
